In [13]:
for i in range(0,4):
  for j in range(0,4):
      if i+j<=2:
         print(" ",end=" ")
      if(i+j>=3):
         print("*",end=" ")
  print(" ")

      *
    * *
  * * *
* * * *

In [16]:
rec={}
n=int=int(input("enter number of students"))
i=1
while i<=n:
    name=input("enter student name:")
    marks=input("enter % marks of student")
    rec[name]=marks
    i+=1
print("name of the student","\t","% of marks")
for x in rec:
    print("\t",x,"\t\t",rec[x])

enter number of students2
enter student name:riya
enter % marks of student80
enter student name:piya
enter % marks of student88
name of the student 	 % of marks
	 riya 		 80
	 piya 		 88

In [17]:
d={100:"hello"}

In [19]:
d={100:"hello",2:"mite"}
len d

SyntaxError: invalid syntax (<ipython-input-19-6769ea645d3e>, line 2)

In [20]:
word=input("enter any word")
d={}
for x in word:
    d[x]=d.get(x,0)+1
for k,v in d.items():
    print(k,"occure",v,"times")

enter any wordoohh noo
o occure 4 times
h occure 2 times
  occure 1 times
n occure 1 times

In [21]:
word=input("enter any word")
d={}
vowels={'a','e','i','o','u'}
for x in word:
    d[x]=d.get(x,0)+1
for k,v in d.items():
    print(k,"occure",v,"times")

enter any wordworld
w occure 1 times
o occure 1 times
r occure 1 times
l occure 1 times
d occure 1 times

In [28]:
squares={x:x*x for x in range(1,6)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [24]:
squares={x:x*x for x in range(1,6)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [26]:
n=[1,2,3,4,5,4,5,5]
print(n.count(5))

3

In [27]:
n=[1,2,3,4,5,4,5,5]
print(n.count(5))

3

In [29]:
print(n.index(5))

4

In [30]:
n=[1,2,3,4,5]
n.insert(1,888)
print(n)

[1, 888, 2, 3, 4, 5]

In [32]:
list1=[1,2,3,"hello"]
list2=[4,5,6,"world"]
list1.extend(list2)

###remove

In [33]:
n.pop

In [34]:
n.reverse
print(n)

[1, 888, 2, 3, 4, 5]

In [37]:
list1=['home:'100,'world:'200]
list.sort()

SyntaxError: invalid syntax (<ipython-input-37-b2339080462a>, line 1)

In [38]:
x=[10,20,30,40]
y=x[:]
y[1]=777
print(x)
print(y)

[10, 20, 30, 40]
[10, 777, 30, 40]

In [39]:
x=[10,20,30,40]
y=x
y[1]=777
print(x)
print(y)

[10, 777, 30, 40]
[10, 777, 30, 40]

In [40]:
x=[10,20,30,40]
y=x.copy()
y[1]=777
print(x)
print(y)

[10, 20, 30, 40]
[10, 777, 30, 40]

In [41]:
a=[10,20,30]
b=[40,50,60]
c=a+b
print(c)

[10, 20, 30, 40, 50, 60]

In [42]:
x=[10,20,30]
y=x*3
print(y)

[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [43]:
x=["mite","manglore","nitte"]
y=["mite","manglore","nitte"]
x=y
x!=y
z=["mite","manglore","nitte"]
x==z

True

In [44]:
m=[10,20,30,40,[50,60,70]]

In [45]:
m[3]

40

In [46]:
m.clear()

In [47]:
n=[1,2,3,4]
print(4 in n)

True

In [48]:
s=[2**x for x in range(1,6)]
print(s)

[2, 4, 8, 16, 32]

In [49]:
words=["mite","manglore","mood"]
l=[w[0] for w in words]
print(l)

['m', 'm', 'm']

In [50]:
def times2(var):
    return var*2

In [52]:
seq=[1,2,3,4,5]
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [53]:
seq=[1,2,3,4,5]
lambda var: var*2
list(map(lambda var:var*2,seq))
list(filter(lambda item:item%2==0,seq))

[2, 4]