In [2]:
import nltk

In [3]:
text = "Truly Kryptic is the best puzzle game. It's browser-based and free. Google it."

In [6]:
from nltk import word_tokenize
text_tokenized = word_tokenize(text.lower())
text_tokenized

['truly',
 'kryptic',
 'is',
 'the',
 'best',
 'puzzle',
 'game',
 '.',
 'it',
 "'s",
 'browser-based',
 'and',
 'free',
 '.',
 'google',
 'it',
 '.']

In [7]:
from nltk.corpus import words
words.readme().replace('\n',' ')

'Wordlists  en: English, http://en.wikipedia.org/wiki/Words_(Unix) en-basic: 850 English words: C.K. Ogden in The ABC of Basic English (1932) '

In [8]:
words

In [9]:
words.fileids()

['en', 'en-basic']

In [10]:
words.words('en')[:10]

['A',
 'a',
 'aa',
 'aal',
 'aalii',
 'aam',
 'Aani',
 'aardvark',
 'aardwolf',
 'Aaron']

In [11]:
len(words.words('en'))

235886

In [12]:
len(words.words('en-basic'))

850

In [15]:
english_vocab = set(w.lower() for w in words.words())
text_vocab = set(w.lower() for w in text_tokenized if w.isalpha()) 

unusual = text_vocab.difference(english_vocab)
unusual

{'google'}

In [17]:
text = "the dogs are barking outside."
word = nltk.word_tokenize(text)
pos_tag = nltk.pos_tag(word)
print (pos_tag)

[('the', 'DT'), ('dogs', 'NNS'), ('are', 'VBP'), ('barking', 'VBG'), ('outside', 'IN'), ('.', '.')]

In [19]:
text = "who is Barrack Obama"
word = nltk.word_tokenize(text)
pos_tag = nltk.pos_tag(word)
chunk = nltk.ne_chunk(pos_tag)
NE = [ " ".join(w for w, t in ele) for ele in chunk if isinstance(ele, nltk.Tree)]
print (NE)

['Barrack Obama']

In [22]:
text = "इराक के विदेश मंत्री ने अमरीका के उस प्रस्ताव का मजाक उड़ाया है , जिसमें अमरीका ने संयुक्त राष्ट्र के प्रतिबंधों को इराकी नागरिकों के लिए कम हानिकारक बनाने के लिए कहा है ।"
from nltk.tag import tnt
from nltk.corpus import indian

train_data = indian.tagged_sents('hindi.pos')
tnt_pos_tagger = tnt.TnT()
tnt_pos_tagger.train(train_data)

In [23]:
train_data

[[('पूर्ण', 'JJ'), ('प्रतिबंध', 'NN'), ('हटाओ', 'VFM'), (':', 'SYM'), ('इराक', 'NNP')], [('संयुक्त', 'NNC'), ('राष्ट्र', 'NN'), ('।', 'SYM')], ...]

In [24]:
text = "इराक के विदेश मंत्री ने अमरीका के उस प्रस्ताव का मजाक उड़ाया है , जिसमें अमरीका ने संयुक्त राष्ट्र के प्रतिबंधों को इराकी नागरिकों के लिए कम हानिकारक बनाने के लिए कहा है" 
from nltk import word_tokenize
text_tokenized=word_tokenize(text.lower())
text_tokenized

['इराक',
 'के',
 'विदेश',
 'मंत्री',
 'ने',
 'अमरीका',
 'के',
 'उस',
 'प्रस्ताव',
 'का',
 'मजाक',
 'उड़ाया',
 'है',
 ',',
 'जिसमें',
 'अमरीका',
 'ने',
 'संयुक्त',
 'राष्ट्र',
 'के',
 'प्रतिबंधों',
 'को',
 'इराकी',
 'नागरिकों',
 'के',
 'लिए',
 'कम',
 'हानिकारक',
 'बनाने',
 'के',
 'लिए',
 'कहा',
 'है']

In [40]:
word = nltk.word_tokenize(text)
pos_tag = nltk.pos_tag(word)
print (pos_tag)

[('इराक', 'JJ'), ('के', 'NNP'), ('विदेश', 'NNP'), ('मंत्री', 'NNP'), ('ने', 'NNP'), ('अमरीका', 'NNP'), ('के', 'NNP'), ('उस', 'NNP'), ('प्रस्ताव', 'NNP'), ('का', 'NNP'), ('मजाक', 'NNP'), ('उड़ाया', 'NNP'), ('है', 'NNP'), (',', ','), ('जिसमें', 'NNP'), ('अमरीका', 'NNP'), ('ने', 'NNP'), ('संयुक्त', 'NNP'), ('राष्ट्र', 'NNP'), ('के', 'NNP'), ('प्रतिबंधों', 'NNP'), ('को', 'NNP'), ('इराकी', 'NNP'), ('नागरिकों', 'NNP'), ('के', 'NNP'), ('लिए', 'NNP'), ('कम', 'NNP'), ('हानिकारक', 'NNP'), ('बनाने', 'NNP'), ('के', 'NNP'), ('लिए', 'NNP'), ('कहा', 'NNP'), ('है', 'NN')]

In [27]:
import pandas as pd
df = pd.read_csv("train_data.csv")

In [28]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
import string
from nltk.stem import PorterStemmer
from nltk import word_tokenize
from sklearn.pipeline import Pipeline
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer

In [38]:
stemmer = PorterStemmer()
def stemming_tokenizer(text):
    stemmer = PorterStemmer()
    return [stemmer.stem(w) for w in word_tokenize(text)]
def train(classifier, X, y,predict_text):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=33)
    classifier.fit(X_train, y_train)
    prediction = (classifier.predict(predict_text))
    print ("Accuracy: %s" % classifier.score(X_test, y_test))
    print ("predicted category: ",prediction)

In [53]:
docA = "The cat sat on my face"
docB = "The dog sat on my bed"

In [54]:
bowA = docA.split(" ")
bowB = docB.split(" ")

In [55]:
bowB

['The', 'dog', 'sat', 'on', 'my', 'bed']

In [56]:
wordSet = set(bowA).union(set(bowB))

In [57]:
wordSet

{'The', 'bed', 'cat', 'dog', 'face', 'my', 'on', 'sat'}

In [58]:
wordDictA = dict.fromkeys(wordSet,0)
wordDictB = dict.fromkeys(wordSet,0)

In [59]:
wordDictA

{'dog': 0, 'on': 0, 'face': 0, 'bed': 0, 'sat': 0, 'my': 0, 'cat': 0, 'The': 0}

In [60]:
wordDictB

{'dog': 0, 'on': 0, 'face': 0, 'bed': 0, 'sat': 0, 'my': 0, 'cat': 0, 'The': 0}

In [61]:
for word in bowA:
    wordDictA[word]+=1
for word in bowB:
    wordDictB[word]+=1

In [62]:
wordDictA

{'dog': 0, 'on': 1, 'face': 1, 'bed': 0, 'sat': 1, 'my': 1, 'cat': 1, 'The': 1}

In [63]:
import pandas as pd
pd.DataFrame([wordDictA,wordDictB])

   The  bed  cat  dog  face  my  on  sat
0    1    0    1    0     1   1   1    1
1    1    1    0    1     0   1   1    1

In [64]:
def computeTF(wordDict,bow):
    tfDict = {}
    bowCount = len(bow)
    for word,count in wordDict.items():
        tfDict[word] = count/float(bowCount)
    return tfDict

In [65]:
tfBowA = computeTF(wordDictA,bowA)
tfBowB = computeTF(wordDictB,bowB)

In [66]:
tfBowA

{'dog': 0.0,
 'on': 0.16666666666666666,
 'face': 0.16666666666666666,
 'bed': 0.0,
 'sat': 0.16666666666666666,
 'my': 0.16666666666666666,
 'cat': 0.16666666666666666,
 'The': 0.16666666666666666}

In [67]:
tfBowB

{'dog': 0.16666666666666666,
 'on': 0.16666666666666666,
 'face': 0.0,
 'bed': 0.16666666666666666,
 'sat': 0.16666666666666666,
 'my': 0.16666666666666666,
 'cat': 0.0,
 'The': 0.16666666666666666}

In [68]:
def computeIDF(docList):
    import math
    idfDict = {}
    N = len(docList)
    
    idfDict = dict.fromkeys(docList[0].keys(),0)
    for doc in docList:
        for word,val in doc.items():
            if val > 0:
                idfDict[word] += 1
                
    for word,val in idfDict.items():
        idfDict[word] = math.log10(N / float(val))
        
    return idfDict

In [69]:
idfs = computeIDF([wordDictA,wordDictB])

In [70]:
def computeTFIDF(tfBow,idfs):
    tfidf = {}
    for word,val in tfBow.items():
        tfidf[word]=val*idfs[word]
    return tfidf

In [71]:
tfidfBowA = computeTFIDF(tfBowA,idfs)
tfidfBowB = computeTFIDF(tfBowB,idfs)

In [73]:
import pandas as pd
pd.DataFrame([tfidfBowA,tfidfBowB])

   The       bed       cat       dog      face   my   on  sat
0  0.0  0.000000  0.050172  0.000000  0.050172  0.0  0.0  0.0
1  0.0  0.050172  0.000000  0.050172  0.000000  0.0  0.0  0.0

In [74]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [75]:
docA = "The car is driven on the road"
docB = "The truck is driven on the highway"

In [77]:
tfidf = TfidfVectorizer()

In [78]:
response = tfidf.fit_transform([docA,docB])

In [79]:
feature_names = tfidf.get_feature_names()
for col in response.nonzero()[1]:
    print(feature_names[col], '-',response[0,col])

the - 0.6043795515372431
car - 0.42471718586982765
is - 0.30218977576862155
driven - 0.30218977576862155
on - 0.30218977576862155
road - 0.42471718586982765
the - 0.6043795515372431
is - 0.30218977576862155
driven - 0.30218977576862155
on - 0.30218977576862155
truck - 0.0
highway - 0.0